// FONTS
@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.woff2");
  }
  
  @font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter-Italic.woff2");
  }
  
  @font-face {
    font-family: "Inter Bold";
    src: url("fonts/Inter-Bold.woff2");
  }

  @font-face {
    font-family: "Inter Heavy";
    src: url("fonts/Inter-ExtraBold.woff2");
  }

// 

// FONT TYPES
$header: 'Signika', Helvetica, sans-serif;
$body: 'Inter', sans-serif;
$body-bold: 'Inter Bold', sans-serif;
$mono: monospace;

// FONT WEIGHTS
$light: 100;
$normal: normal;
$semibold: 500;
$bold: 700;

//FONT SIZES
$small: 15px;
$medium: 18px;
$large: 35px;
$x-large: 45px;
$mobile-header: 30px;

@media screen and (max-width: 450px) {
    $small: 12px;
    $medium: 14px;
    $large: 25px;
    $x-large: 30px;
    $header: 25px;
}

// LINE-HEIGHTS
$body-line: 30px;
$smallbody-line: 20px;

// COLORS
$txt-primary: #333333;
$darkgreen: #1A3C34;
$orange: #EA9010;


 
body {
    font-family: $body;
    color: $txt-primary;
}

h1, h2, h3, h4, p, a, input, span, li {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
    
p {
    font-family: $body;
    font-size: $small;
    line-height: $smallbody-line;
}

h1 {
    font-family: $header;
    font-size: $large;
    line-height: 45px;
    font-weight: $bold;
    margin: auto;
    padding-bottom: 10px;
}

h2 {
    font-family: $header;
    font-size: $medium;
    font-weight: $bold;
    color: #333333;
}

h4, li {
    margin-top: -10px;
    line-height: $body-line;
    font-size: $medium;
    font-family: $body;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    color: #646363;
}

    h1.hero {
        color: white;
        font-size: 55px;
        line-height: 65px;
    }

    h4.hero {
        font-family: $body;
        line-height: 35px;
        color: white;
        font-size: 22px;
        letter-spacing: -0.3px;
    }
    
li {
    margin-bottom: 10px;
}

.underline {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
    text-shadow:
        2px 2px white,
        2px -2px white,
        -2px 2px white,
        -2px -2px white;
    }

a {
    cursor: pointer;
    color: $orange;
    text-decoration: none !important;
    font-size: $medium;
    transition: 0.3s ease-in-out;
}

    a:hover {
        color: rgb(176, 117, 8);
    }

i {
    font-family: 'Inter Italic';
}

input {
    font-size: 16px;
}

.bold, strong {
    font-weight: $bold;
}

span.code {
    font-family: $mono;
    font-weight: $bold;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #E1E1E8;
    background-color: #F7F7F9;
    color: $darkgreen;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
}

span.code:hover {
    color: blue;
    border: 1px solid rgb(191, 191, 199);
}

hr {
    border-top: 1px solid #a4a4a4;
}