extends layout

block content
  .primary-container.centered
    br
    br
    br
    br
    br
    br
    br
    br
    br
    h1 🤔 Page not found
    h4 Not finding what you're looking for?
    br
    h4 Please let us know through the <strong>Intercom</strong> chat box <br>at the bottom right of your browser.

    br
    a.button(href='index.html') Return home
