extends layout

block content
  br
  br
  .primary-container
    .container
      .post
        h1 Why we're building Picnic.
        h4.
            We're really excited to share our founding story with you... but there's a lot to talk about! We want to make sure we get it right. Check back in a couple weeks for an update to our About page. 😊
        

