extends layout-home
block content
  include ../includes/data_about.pug
  .bg-full
    h1=about.hero
  .reg-height
  .primary-container
    .article
      h1 About us
      +splitStringOnBreak(about.body[0])
      +spacer()
      h1=about.headers[0]
      h4.sub=about.subs[0]
      +spacer()
      h4 We have 2 success metrics for this goal:
      ul
        li Metric tons of CO2 equivalent prevented from entering the atmosphere
        li Metric tons of CO2 equivalent pulled from the atmosphere and permanently sequestered
        +spacer()

      +splitStringOnBreak(about.body[1])

    +spacer(6)
    - var date = new Date;
    .centered
      h1 Ready to get started?
      h4 Start offsetting your #[strong #{date.toLocaleString('en-us', { month: 'long' })}] emissions in five minutes.
      br
      br

      +form()



      





