extends layout-home

block content
  .background-hero-image
    .background-hero-overlay
    <video autoplay muted loop id='videoContainer'>
      <source src="images/shorter-chinese-terraces.mp4" type="video/mp4">
    </video>
    +textBlockHero({
      header: 'Erase your carbon footprint',
      sub: 'Wren helps you live carbon neutral by accounting for and offsetting your CO<sub>2</sub> emissions.'
    })

  +spacer(2)
  .primary-container
      .centered
        .img-raised
          img(src='images/carbon-graphic1.png' style='width: 300px;')
        +textBlock({
          header: 'Carbon neutral is affordable',
          par: `The average American can offset their entire <span class='tooltip1'>carbon_footprint</span> for less than $20/month on our platform.<span class='footnote test 1'></span> This is how it's done:`
        })

      +spacer(6)

      .centered
        +bigNumberBlock({
          number: 1,
          image: 'skipper3-assets4.png',
          header: 'Pick the way you offset your carbon',
          par: `We work with experts in <span class='tooltip2'>carbon_sequestration</span> to permanently offset carbon.<span class='footnote tapingo 2'></span> Wren gives you options for offsetting your emissions in the way you believe is most important.`
        })(style='width: 150px; height: auto;')
        
      +spacer(2)

      .flex
        +offsetCard({
          url: '/rainforests.html',
          bg: 'https://externalassets.cooleffect.org/lib/content/wp-content/uploads/2019/03/27232615/Jacunda_featured-1920x1440.jpg',
          smallImg: 'offset-strategy-1.png',
          header: 'Protect Existing Rainforests',
          text: `Only 24% of the world's rainforest remains intact. We work with <strong>Cool Earth</strong> to protect rainforests most at risk of deforestation.`
        })
        +offsetCard({
          url: '/methane.html',
          bg: 'https://images.unsplash.com/photo-1532445697400-f5c10fb93a11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80',
          smallImg: 'offset-strategy-2.png',
          header: 'Capture and Harness Methane',
          text: `Methane is a powerful greenhouse gas that traps heat 25x more effectively than carbon dioxide, but is a promising energy source.`
        })
      .flex
        +offsetCard({
          url: '/advanced.html',
          bg: 'https://www.thebetterindia.com/wp-content/uploads/2019/01/WhatsApp-Image-2019-01-12-at-2.44.27-PM.jpeg',
          smallImg: 'offset-strategy-3.png',
          header: 'Support New Technologies',
          text: `Protecting existing carbon sinks and capturing greenhouse gases will not be enough to prevent climate change. These technologies might be the answer.`
        })

      +spacer(4)

      .centered
        +spacer(2)
        +bigNumberBlock({
          number: 2,
          image: 'wren-calculator.png',
          header: 'Get a grasp on your carbon budget',
          par: `Use Project Wren's carbon calculator to keep track of factors like AC and transportation to give you a clear picture of your carbon footprint.`
        })(style='width: 90px; height: auto; padding-bottom: 5px !important;' class='bump-up')

      // TEMP    
      .div(style='height: 600px; width: 100%; background-color: lightgrey; margin-top: 50px;')
      // ---

      +spacer(3)
      .centered
        +bigNumberBlock({
          number: 3,
          image: 'skipper3-assets4.png',
          header: 'Follow the impact of your offsets',
          par: `In addition to monthly updates on the progress of your carbon offsets, we send real photos, videos, and bonus content straight from the source.`
        })(style='width: 150px; height: auto;')
        +spacer(2)

        img(src='images/skipper3-assets5.png' style='max-width: 500px; width: 90%;margin: auto;')
      
      +callToAction()