//- INCLUDES > DATA_HOW
-
    const how = {
        hero: 'How it works',
        par1: {
            header: 'Using Wren is easy.',
            sub: `It takes just a few minutes to get your carbon accounting setup, then we'll keep you updated as we offset your carbon footprint.`
        },
        section1: {
            header: `Carbon Accounting`,
            sub: `Establishing your carbon "baseline"`,
            body1: `A few aspects of your lifestyle dominate the majority of your carbon emissions. We calculate your individual carbon footprint by looking at these factors:`,
            body2: `We know this model is simplistic, but with the current research and technology we have available this is the best way we have to get an individual's baseline carbon footprint without requiring you to fill out a lengthy survey or do your own research. We're working on better models constantly, and would be excited if you have any suggestions, ideas, or relevant research for how we can estimate better—drop us a line at yowhatsup@projectwren.com!`
        },
        section2: {
            header: `Spikes`,
            sub: `When you go on vacation or move, your carbon footprint might deviate substantially from its baseline. Going on a single flight might emit more tons of CO2 than you normally would in a whole month. With Wren, you can log your flights, road trips, and shipping to make sure the spikes in your carbon footprint are offset.`
        },
        par2: {
            header: `Offsetting your footprint`,
            sub: `Once you have your carbon accounting setup, Wren will begin offsetting immediately. If you'd like, you may also offset your emissions for the previous 12 months.`
        },
        section3: {
            header: `Offset projects`,
            sub: `Wren works with a number of organizations around the world to offset carbon emissions. We prioritize 3 criteria when selecting our offset projects:`
        },
        section4: {
            header: `Your portfolio`,
            sub: `Every offset project is different. They will have different costs per ton of CO2 they offset, they will support different communities, and have different timelines.<br><br>In Wren, you have a "portfolio" of projects that you support each month. By default, your portfolio will have several diverse projects that are safe bets—they are affordable ways to offset carbon, they support communities that need help, and they are proven methods of preventing or sequestering carbon permanently. If you'd like, you can customize your portfolio to choose the carbon offset projects you like best.`
        },
        section5: {
            header: `Tracking your impact`,
            sub: `Once you've made an offset, we send you detailed updates on the project once a quarter. We also give you full access to all documentation and data we have from the project, so you can see in as much detail as you like how a project works.`
        }
    }