.navbar.top
    .nav-items
        .nav-burger
            span.open(id="open" onclick="openNav()") &#9776
        a.nav-logo(href='/')
            img.medium(src='images/wren-logotype-signika-white.png')
        .nav-menu.nav-menu-home
            +navItems()
            
            form(action="" method="GET" target="_blank")
                input#email_submit.button.button-nav(type="submit" value=buttonVal)

// Show after bit o' time ... fixed
.navbar.nav-fixed.top
    .nav-items
        .nav-burger
            span.open(id="open" onclick="openNav()") &#9776
        a.nav-logo(href='/')
            img.medium(src='images/wren-bird-slate.png' style='opacity: .8;')
        .nav-menu
            +navItems()
            
            form(action="" method="GET" target="_blank")
                input#email_submit.button.button-nav-green(type="submit" value=buttonVal)
    
    .bottom-border