//- INCLUDES > VARIABLES
-
    const buttonVal = 'Go zero carbon';
    const name = 'Project Wren';
    const nameLower = 'wren';

    const tippies = {
        carbon_sequestration: {
            tippyContent: `A natural or artificial process by which carbon dioxide is removed from the atmosphere.`,
            text: 'carbon sequestration',
            type: 'noun'
        },
        carbon_footprint: {
            tippyContent: `The amount of carbon dioxide and other compounds emitted by the consumption of fossil fuels by a person or group.`,
            text: 'carbon footprint',
            type: 'noun'
        }
    }