//- INCLUDES > VARIABLES
-
    const buttonVal = 'Go zero carbon';
    const name = 'Project Wren';
    const nameLower = 'wren';

    const index = {
        hero: {
            header: `Erase your carbon footprint`,
            sub: `Wren helps you live carbon neutral by accounting for and offsetting your CO<sub>2</sub> emissions.`
        },
        par1: {
            header: `Carbon neutral is affordable`,
            sub: `The average American can offset their entire <span class='tooltip1'>carbon_footprint</span> for less than $20/month on our platform. This is how it's done:`
        },
        par2: {
            header: `Get a grasp on your carbon budget`,
            sub: `Use <strong>Project Wren's</strong> carbon calculator to keep track of factors like AC and transportation to give you a clear picture of your carbon footprint.`
        },
        par3: {
            header: `Pick the way you offset your carbon`,
            sub: `We work with experts in <span class='tooltip2'>carbon_sequestration</span> to permanently offset carbon. Wren gives you options for offsetting your emissions in the way you believe is most important.`
        },
        cards: [
            {
            url: '/rainforests.html',
            bg: 'https://externalassets.cooleffect.org/lib/content/wp-content/uploads/2019/03/27232615/Jacunda_featured-1920x1440.jpg',
            smallImg: 'offset-strategy-1.png',
            header: 'Protect Existing Rainforests',
            text: `Only 24% of the world's rainforest remains intact. We work with <strong>Cool Earth</strong> to protect rainforests most at risk of deforestation.`
            },
            {
            url: '/methane.html',
            bg: 'https://images.unsplash.com/photo-1532445697400-f5c10fb93a11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80',
            smallImg: 'offset-strategy-2.png',
            header: 'Capture and Harness Methane',
            text: `Methane is a powerful greenhouse gas that traps heat 25x more effectively than carbon dioxide, but is a promising energy source.`
            },
            {
            url: '/advanced.html',
            bg: 'https://www.thebetterindia.com/wp-content/uploads/2019/01/WhatsApp-Image-2019-01-12-at-2.44.27-PM.jpeg',
            smallImg: 'offset-strategy-3.png',
            header: 'Support New Technologies',
            text: `Protecting existing carbon sinks and capturing greenhouse gases will not be enough to prevent climate change. These technologies might be the answer.`
            }
        ],
        par4: {
            header: 'Follow the impact of your offsets',
            sub: `In addition to monthly updates on the progress of your carbon offsets, we send real photos, videos, and bonus content straight from the source.`
        }
    }

    const cards = [
        {
         url: '/rainforests.html',
         bg: 'https://externalassets.cooleffect.org/lib/content/wp-content/uploads/2019/03/27232615/Jacunda_featured-1920x1440.jpg',
         smallImg: 'offset-strategy-1.png',
         header: 'Protect Existing Rainforests',
         text: `Only 24% of the world's rainforest remains intact. We work with <strong>Cool Earth</strong> to protect rainforests most at risk of deforestation.`
        },
        {
         url: '/methane.html',
         bg: 'https://images.unsplash.com/photo-1532445697400-f5c10fb93a11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80',
         smallImg: 'offset-strategy-2.png',
         header: 'Capture and Harness Methane',
         text: `Methane is a powerful greenhouse gas that traps heat 25x more effectively than carbon dioxide, but is a promising energy source.`
        },
        {
         url: '/advanced.html',
         bg: 'https://www.thebetterindia.com/wp-content/uploads/2019/01/WhatsApp-Image-2019-01-12-at-2.44.27-PM.jpeg',
         smallImg: 'offset-strategy-3.png',
         header: 'Support New Technologies',
         text: `Protecting existing carbon sinks and capturing greenhouse gases will not be enough to prevent climate change. These technologies might be the answer.`
        }
    ];

    const tippies = {
        carbon_sequestration: {
            tippyContent: `A natural or artificial process by which carbon dioxide is removed from the atmosphere.`,
            text: 'carbon sequestration',
            type: 'noun'
        },
        carbon_footprint: {
            tippyContent: `The amount of carbon dioxide and other compounds emitted by the consumption of fossil fuels by a person or group.`,
            text: 'carbon footprint',
            type: 'noun'
        }
    }